name: Java CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Set Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Compile
      run: ./gradlew compileJava compileTestJava

    - name: Tests
      run: ./gradlew test

    - name: Coverage
      run: ./gradlew jacocoTestReport

    - name: Checkstyle
      run: ./gradlew checkstyleMain checkstyleTest

    - name: PMD
      run: ./gradlew pmdMain pmdTest

    - name: SpotBug
      run: ./gradlew spotbugsMain spotbugsTest
